# @section zsh suffix aliases
# @description zhs suffix aliases
if [ -n "$ZSH_VERSION" ]; then
    # Azure CLI files
    alias -s azcli=code

    # dev files
    alias -s {json,yaml,md,tf,log}=code

    # javascript and html
    alias -s {cs,ts,html}=code

{{- if .isDeveloperMachine }}
    alias cd='x' # use zoxide
{{- end }}
    alias reload="source ~/.zshenv && source ~/.zshrc"
    alias eenv="vi ~/.zshenv"
fi

# @section ls aliases
# description aliases for better ls

#alias ls='ls -hF --color' # add colors for filetype recognition
which "exa" &>/dev/null && alias ls="exa"
alias ll="ls -l --group-directories-first"
alias lh='ls -Al' # show hidden files
alias ld='ls -ltr' # sort by date
alias lx='ls -lXB' # sort by extension
alias lk='ls -lSr' # sort by size, biggest last
alias lc='ls -ltcr' # sort by and show change time, most recent last
alias lu='ls -ltur' # sort by and show access time, most recent last
alias lt='ls -ltr' # sort by date, most recent last
alias ltr="echo 'Showing first 10 results:' && ls -lacth --show-control-chars --color | head -n 11"
alias lm='ls -al |more' # pipe through 'more'
alias lr='ls -lR' # recursive ls
alias tree='tree -C' # nice alternative to 'recursive ls'
alias lf="ls -Alh --color | awk '{k=0;for(i=0;i<=8;i++)k+=((substr(\$1,i+2,1)~/[rwx]/)*2^(8-i));if(k)printf(\" %0o \",k);print}'" # full ls with octal+symbolic permissions
alias li='ls -ai1|sort' # sort by index number
alias lsdd='ls -latr' # sort by date
alias lsd='ls -l | grep "^d"' # list only directories
alias lsize='ls --sort=size -lhr' # list by size
alias lsl='ls -lah' # long list, human-readable
alias lsnew='ls -Alh --color=auto --time-style=+%D | grep `date +%D`'
alias lss='ls -shaxSrl' # sort by size
alias lsss='ls -lrt | grep $1' # to see something coming into ls output: lss
alias lsx='ls -ax'  # sort right to left rather then in columns

# @section Command substitution
# @description substitute some standard commands
alias cls='clear'
alias cp='cp -v'
alias dr='dirs -v'
alias dig_='dig +noauthority +noadditaliasional +noqr +nostats +noidentify +nocmd +noquestion +nocomments' # short and sweet output from dig(1)
alias grep='grep --color=auto' # highlight matched pattern
alias egrep='grep -E'
alias fgrep='fgrep –color=auto'
alias h='history | grep $1'
alias last='last -a'
alias mkdir='mkdir -p -v'
alias mv='mv -iv'
alias path='echo -e ${PATH//:/\\n}'
alias psa='ps -auxf'
alias psg='ps -aux | grep' # requires an argument
alias pss='ps -ef | grep $1' # to check a process is running in a box with a heavy load: pss
alias rd='cd "`pwd -P`"' # if in directory containing symlink in path, change to "real" path
alias real_location='readlink -f' # get real location of file
alias reboot='sudo /sbin/reboot'
alias rgrep='find . \( ! -name .svn -o -prune \) -type f -print0 | xargs -0 grep' # rgrep: recursive grep without .svn
alias rh='rehash'
alias rmdir='rmdir -v'
alias root='su -' # generic shortcut for switching to root user depending on system
alias shutdown='sudo shutdown -h now' # proper restart
alias shutdownde='for ((;;)) do pgrep wget ||shutdown -h now; sleep 5; done' # if download end, shutdown
alias split='split -d'
alias s='sudo'
alias tc='tar -cvzf'
alias tx='tar -xfvz'
alias unpack='tar -xzvpf' # uncompress a a Tar file
alias updatefont='fc-cache -v -f'

alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"

# @section Computer cleanup
# @description cleanup helper functions
alias trashclean='rm -fr ~/.Trash'

# @section System Info
# @description Hardware shortcuts and system info
alias mountiso='sudo mount ${1} ${2} -t iso9660 -o ro,loop=/dev/loop0'
alias scan='scanimage -L'
alias dmidecode='sudo dmidecode --type 17 | more' # check RAM sed and type in Linux
alias env2='for _a in {A..Z}{a..z};do _z=\${!${_a}*};for _i in `eval echo "${_z}"`;do echo -e "$_i: ${!_i}";done;done|cat -Tsv' # print all environment variables, including hidden ones
alias hgrep='history | grep --color=always' # search commands history
alias sete='set|sed -n "/^`declare -F|sed -n "s/^declare -f \(.*\)/\1 ()/p;q"`/q;p"' # display environment vars only, using set
alias superfind='sudo find / ! \( -path /proc -prune -o -path /tmp -prune -o -path /dev -prune -o -path /mnt -prune \) -name'
alias whichall='{ command alias; command declare -f; } | command which --read-functions --read-alias -a' # which alias
alias penv="printenv | grep"

# @section Docker, Podman & k8s
# description Aliases for docker, kubernetes and related tech
alias dm='docker-machine'
alias dc_up='docker-compose up -d --no-deps --force-recreate --build %a'
alias d_term='sudo docker exec -i -t $1 /bin/bash'
alias d_rm='docker rm $(docker container ls -aq)'
alias d_rmi_m="docker images | grep 'months ago\|years ago' | awk '{print $3}' | xargs docker rmi" # remove docker images older than a month
alias d_prune='docker system prune'
alias ksh="navibestmatch 'Open shell to a pod in current context'"
alias kshc="navibestmatch 'Open shell to a pod in a specific context'"
alias klog="navibestmatch 'Print logs of a pod in current context'"
alias klogc="navibestmatch 'Print logs of a pod in s specific context'"

# @section Azure
# description command substitution azure-cli
alias az_subs="navibestmatch 'Get all Azure subscription names and ids'"

# @section terraform
# description command substitution terraform
alias tf="terraform"
alias tfplan='terraform plan -no-color > generated.tfplan'

# @section terminal multiplexer
# @description command substitution tmux,byobu, etc
alias z="zellij"
alias helix="hx"
alias t="tmux"
#alias zellijj='zellij options --disable-mouse-mode'
alias tmuxls="t list-session"
function tmuxns {
    if [[ -n "$1" ]]; then
        t new-session -As "$1"
    else
        t new-session
    fi
}
alias tmuxa="t attach-session -t "

# @section ansible
# @description commande helpers for ansible
alias ansible-run-raw='ansible -u ansible -i /home/aedu/Workspaces/wyssmann.com/infrastructure/inventory.yml $1 -m shell -a \"$2\"'
alias ansible-get-roleid="ansible-galaxy info papanito.$@ | grep -E 'id: [0-9]' | awk {'print $2'}"

# @section chezmoi
# @description aliases for chezmoi
alias ca="chezmoi apply && reload"
alias cae="chezmoi apply --refresh-externals"

# @section navi
# @description aliases for navi
alias navi_update="pushd  ~/.local/share/navi/cheats/papanito__cheats && git pull && popd"
alias k8sn="navi --query kubernetes"
alias gln="navi --query glab"
alias ghn="navi --query gh"

# @section app aliases
# @description aliases for most used apps
alias linode="linode-cli"
alias hi="hishtory"

# @section misc tools
# @description command substitution for misc commands
alias shdocc='for filename in $(ls -I "*.sh" -I "*.zsh"); do filename=$(basename -- "$filename"); shdoc < "$filename" > "${filename%.*}.md"; done'
alias script='script ~/session_`date +%Y%m%d%H%M`.txt' # start shell session recording (typescript)
alias gphotos_sync='cd ~/Pictures/Photos && pipenv run gphotos-sync ~/Pictures/Photos --rescan'
alias gphotos_sync_delete='cd ~/Pictures/Photos && pipenv run gphotos-sync ~/Pictures/Photos --rescan --flush-index --do-delete'
alias zshdocker="docker run -it zshusers/zsh"
alias rest_state="restic -r $RESTIC_REPOSITORY snapshots"
alias irssi="irssi --config=$XDG_CONFIG_HOME/irssi/config --home=$XDG_DATA_HOME/irssi"
alias incognito=' fc -p && hishtory disable' ##n-memory history that will be discarded when you exit: the previous history (commands entered before the private session started) will not be available.
alias p="incognito"
alias luo="luksopen_"
alias luc="luksclose_"
#alias firejail="firejail --net=tornet"

# @section nixos
# @description aliases for nixos
alias nixrebuild="sudo rsync -rv $HOME/Workspaces/papanito/nixos-configuration/ --update --delete --exclude result /etc/nixos/ && source ~/.env-us.locale && sudo nixos-rebuild switch"
alias nixrebuildu=" sudo rsync -rv $HOME/Workspaces/papanito/nixos-configuration/ --update --delete --exclude result /etc/nixos/ && source ~/.env-us.locale && sudo nixos-rebuild switch --upgrade"