*.md
.vscode
{{ if eq .chezmoi.hostname "clawfinger" }}
./kube/.config.work
{{- end}}
{{ if not .isDeveloperMachine }}
.boto
.config/gh
.config/gl
.config/glab-cli
.config/irssi
.config/private_dconf
.config/remmina
.config/savedesktop
.doom.d
.kube
.m2
.ssh
.terraform.d
.muttrc
.ansible.cfg
.ansible.galaxy
.gemrc
.Xmodmap
{{ end }}