{{ $gituser := promptStringOnce . "gituser" "Git Username" -}}
{{ $githubuser := promptStringOnce . "githubuser" "GitHub Username" -}}
{{ $email := promptStringOnce . "email" "E-Mail" -}}
{{ $passphrase := promptStringOnce . "passphrase" "Passphrase for encryption" -}}
{{ $isDeveloperMachine := promptBoolOnce . "isDeveloperMachine" "Is this a developer machine" }}
{{ $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI" }}
{{ $signkey := promptStringOnce . " " "Signkey to sign git commits" -}}
encryption = "gpg"
[data]
    gituser = {{ $gituser | quote }}
    githubuser = {{ $githubuser | quote }}
    email = {{ $email | quote }}
{{- if eq .chezmoi.hostname "clawfinger"}}
    passphrase = {{ keyring "chezmoi" $gituser | quote }}
    gitsignkey = {{ $signkey | quote }}
     = "github gitlab bitwarden b2_account_id b2_account_secret b2_account_key restic_repository restic_password hcloud_token_dev hcloud_token_prd tf_hcloud_token_dev tf_hcloud_token_prd tf_cloud_token"
{{- else }}
    keyring_tokens_work = "github gitlab"
    hasGUI = {{ $hasGUI }}
    isDeveloperMachine = {{ $isDeveloperMachine }}
    passphrase = {{ $passphrase | quote }}
{{- end }}
[gpg]
    symmetric = true
{{- if eq .chezmoi.hostname "clawfinger" }}
    args = ["--batch", "--passphrase", {{ keyring "chezmoi" $gituser | quote }}, "--no-symkey-cache" ]
[diff]
    command = "diff"
    args = ["-y", "--color"]
    exlude = ["scripts"]
{{- else}}
    args = ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache" ]
[diff]
    exlude = ["scripts"]
{{- end }}

[hooks.apply.post]
command = "source $HOME/.zshenv && source $HOME/.zshrc"
#args = ["$HOME/.zshenv"]
