{{ $gituser := promptStringOnce . "gituser" "Git Username" -}}
{{ $githubuser := promptStringOnce . "githubuser" "GitHub Username" -}}
{{ $email := promptStringOnce . "email" "E-Mail" -}}
{{ $signkey := promptStringOnce . "signkey" "Signkey to sign git commits" -}}

encryption = "gpg"
[data]
    gituser = {{ $gituser | quote }}
    githubuser = {{ $githubuser | quote }}
    passphrase = {{ keyring "chezmoi" $gituser | quote }}
    email = {{ $email | quote }}
    gitsignkey = {{ $signkey | quote }}
    keyring_tokens_private = "github gitlab bitwarden b2_account_id b2_account_secret b2_account_key restic_repository restic_password hcloud_dev_token hcloud_prd_token"
    keyring_tokens_work = "github gitlab"
[gpg]
    symmetric = true
    args = ["--batch", "--passphrase", {{ keyring "chezmoi" $gituser | quote }}, "--no-symkey-cache" ]
{{- if eq .chezmoi.hostname "clawfinger" }}
[diff]
    command = "diff"
    args = ["-y", "--color"]
    exlude = ["scripts"]
{{- else}}
[diff]
    exlude = ["scripts"]
{{- end }}
