LANG="en_US.UTF-8"
LANGUAGE=
LC_CTYPE="de_CH.UTF-8"
LC_NUMERIC="de_CH.UTF-8"
LC_TIME="de_CH.UTF-8"
LC_COLLATE="de_CH.UTF-8"
LC_MONETARY="de_CH.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="de_CH.UTF-8"
LC_NAME="de_CH.UTF-8"
LC_ADDRESS="de_CH.UTF-8"
LC_TELEPHONE="de_CH.UTF-8"
LC_MEASUREMENT="de_CH.UTF-8"
LC_IDENTIFICATION="de_CH.UTF-8"
LC_ALL=

export LANG
export LC_CTYPE
export LC_NUMERIC
export LC_TIME
export LC_MONETARY
export LC_NAME
export LC_ADDRESS
export LC_TELEPHONE
export LC_MEASUREMENT

## XDG Base Directory Specification
# ref: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

## Set apps
export ANDROID_HOME="$XDG_DATA_HOME"/android
export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME"/bundle
export BUNDLE_USER_CACHE="$XDG_CACHE_HOME"/bundle
export BUNDLE_USER_PLUGIN="$XDG_DATA_HOME"/bundle
export VAGRANT_HOME="$XDG_DATA_HOME"/vagrant
export WINEPREFIX="$XDG_DATA_HOME"/wine
export NUGET_PACKAGES="$XDG_CACHE_HOME"/NuGetPackages
export __GL_SHADER_DISK_CACHE_PATH="$XDG_CACHE_HOME"/nv
export NVM_DIR="$XDG_DATA_HOME"/nvm
export OMNISHARPHOME="$XDG_CONFIG_HOME"/omnisharp
export PSQL_HISTORY="$XDG_DATA_HOME/psql_history"
export PYLINTHOME="${XDG_CACHE_HOME}"/pylint
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/pass
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java
export AZURE_CONFIG_DIR="$XDG_DATA_HOME"/azure
export CARGO_HOME="$XDG_DATA_HOME"/cargo
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export MACHINE_STORAGE_PATH="$XDG_DATA_HOME"/docker-machine
export GEM_HOME="${XDG_DATA_HOME}"/gem
export GEM_SPEC_CACHE="${XDG_CACHE_HOME}"/gem
export GOPATH="$XDG_DATA_HOME"/go
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export ICEAUTHORITY="$XDG_CACHE_HOME"/ICEauthority
export MINIKUBE_HOME="$XDG_DATA_HOME"/minikube
export LESSHISTFILE="$XDG_STATE_HOME"/less/history
export DVDCSS_CACHE="$XDG_DATA_HOME"/dvdcss
export KDEHOME="$XDG_CONFIG_HOME"/kde
export SSB_HOME="$XDG_DATA_HOME"/zoom
export MPLAYER_HOME="$XDG_CONFIG_HOME"/mplayer
export NB_DIR="$XDG_DATA_HOME/nb"
export NBRC_PATH="$XDG_CONFIG_HOME/nbrc"
export GOPATH="$XDG_DATA_HOME"/go
export IPYTHONDIR="$XDG_CONFIG_HOME/ipython"
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export PYLINTHOME="$XDG_CACHE_HOME"/pylint
export MINIKUBE_HOME="$XDG_DATA_HOME"/minikube
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc

export BLOCKSIZE=K
export BROWSER='firefox'
# export BROWSER=$(find_alternatives chromium-browser google-chrome opera firefox firefox-bin iceweasel konqueror w3m lynx)    # uses function 'find_alternatives'
# export CDPATH=.:~:~/src:/etc
# export DISPLAY=:79
# export EDITOR="gedit -w --resume" Typing 'fc'    # open last command for editing in gedit, then execute on save
{{- if .isDeveloperMachine }}
export EDITOR='hx'
{{- else }}
export EDITOR=/usr/bin/vi
export VISUAL="emacs"
{{- end }}
# export ftp_proxy=${MY_PROXY}
# export GPG_TTY='tty' # gpg-agent says it needs this
# export GREP_OPTIONS='-D skip --binary-files=without-match --ignore-case' # most commonly used grep options
export PAGER='less -e'
# export PILOTRATE=57600 # make pilot-xfer go faster than 9600
export TERM='xterm'
export TIMEFORMAT=$'\nreal %3R\tuser %3U\tsys %3S\tpcpu %P\n'
# export TMOUT=1200 # auto logout after n seconds of inactivity
# export USER_CLIENT=deluge
# export USER_DPRT=22218
# export USER_OPRT=47426
# export USER_VPRT=79
# export USER_WPRT=30818
# export wpsetters=feh
export VIEWER=eog

export ANSIBLE_NOCOWS=1
export SHELL_HELPER_LIBRARY="$HOME/.shell-helper-library"
export GOPATH="$XDG_DATA_HOME/go"
export GOPROXY=direct
export ZELLIJ_AUTO_ATTACH=true

## Set PATH
{{- if eq .osid "linux-nixos" }}
#export PATH=/run/wrappers/bin:$HOME/.nix-profile/bin:/etc/profiles/per-user/papanito/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bin
{{- end }}
{{- if eq .chezmoi.hostname "work" }}
#export PATH=$PATH
{{- else if .isDeveloperMachine }}
export PATH=$GOPATH/bin:~/.local/scripts/scripts:~/.local/bin:~/.local/cmdfu:~/.emacs.d/bin:~/.krew/bin:$PATH
export DOCRENAMERCONFIGDIR=$HOME/.config/docrenamer
{{- end }}

## History stuff
export MCFLY_RESULTS=50
export MCFLY_HISTORY_LIMIT=5000
export MCFLY_RESULTS_SORT=LAST_RUN
export HISHTORY_PATH=.config/hishtory
export PATH="$PATH:$HOME/$HISHTORY_PATH"

## Tokens
{{ if eq .chezmoi.hostname "clawfinger" }}
[[ -f "$HOME/.zshenv.local" ]] && source $HOME/.zshenv.local
{{ end }}
