LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="de_CH.UTF-8"
LC_NUMERIC="de_CH.UTF-8"
LC_TIME="de_CH.UTF-8"
LC_COLLATE="de_CH.UTF-8"
LC_MONETARY="de_CH.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="de_CH.UTF-8"
LC_NAME="de_CH.UTF-8"
LC_ADDRESS="de_CH.UTF-8"
LC_TELEPHONE="de_CH.UTF-8"
LC_MEASUREMENT="de_CH.UTF-8"
LC_IDENTIFICATION="de_CH.UTF-8"
LC_ALL=

export LANG
export LC_CTYPE
export LC_NUMERIC
export LC_TIME
export LC_MONETARY
export LC_NAME
export LC_ADDRESS
export LC_TELEPHONE
export LC_MEASUREMENT

export BLOCKSIZE=K
export BROWSER='firefox'
# export BROWSER=$(find_alternatives chromium-browser google-chrome opera firefox firefox-bin iceweasel konqueror w3m lynx)    # uses function 'find_alternatives'
export CDDIR="$HOME/work" # for use with the function 'cd' and the alias 'cdd'
# export CDPATH=.:~:~/src:/etc
# export DISPLAY=:79
# export EDITOR="gedit -w --resume" Typing 'fc'    # open last command for editing in gedit, then execute on save
export EDITOR='helix'
export VISUAL="emacs"
# export ftp_proxy=${MY_PROXY}
# export GPG_TTY='tty' # gpg-agent says it needs this
# export GREP_OPTIONS='-D skip --binary-files=without-match --ignore-case' # most commonly used grep options
export PAGER='less -e'
# export PILOTRATE=57600 # make pilot-xfer go faster than 9600
export TERM='xterm'
export TIMEFORMAT=$'\nreal %3R\tuser %3U\tsys %3S\tpcpu %P\n'
# export TMOUT=1200 # auto logout after n seconds of inactivity
# export USER_CLIENT=deluge
# export USER_DPRT=22218
# export USER_OPRT=47426
# export USER_VPRT=79
# export USER_WPRT=30818
# export wpsetters=feh
export VIEWER=eog

export ANSIBLE_NOCOWS=1
export SHELL_HELPER_LIBRARY="$HOME/.shell-helper-library"

## Set PATH
export PATH=~/.bin:~/.local/scripts:~/.local/bin:~/.local/cmdfu:~/.emacs.d/bin:$PATH
{{ if eq .chezmoi.hostname "work" }}
export PATH=$PATH
{{ else }}
export DOCRENAMERCONFIGDIR=/home/aedu/.config/docrenamer
export PATH=~/node_modules:~/.npm:/usr/lib/node_modules:~/bin/go/bin:/opt/atlassian-plugin-sdk/bin:/opt/flutter/bin:$PATH
{{ end }}

## Tokens
{{ if eq .chezmoi.hostname "work" }}
export GITHUB_TOKEN={{ keyring "github" "papanito" }}
export GITLAB_TOKEN={{ keyring "gitlab" "papanito" }}
{{ else }}
export GITHUB_TOKEN={{ keyring "github" "papanito" }}
export GITLAB_TOKEN={{ keyring "gitlab" "papanito" }}
export RESTIC_REPOSITORY={{ keyring "restic_repository" "papanito" }}
export RESTIC_PASSWORD={{ keyring "restic_password" "papanito" }}
export B2_ACCOUNT_ID={{ keyring "b2_account_id" "papanito" }}
export B2_ACCOUNT_KEY={{ keyring "b2_account_key" "papanito" }}
export BW_SESSION={{ keyring "bitwarden" "papanito" }}
export HCLOUD_DEV={{ keyring "hcloud_token_dev" "papanito" }}
export HCLOUD_PRD={{ keyring "hcloud_token_prd" "papanito" }}
export TF_VAR_HLCOUD_DEV={{ keyring "tf_hcloud_token_dev" "papanito" }}
export TF_VAR_HLCOUD_PRD={{ keyring "tf_hcloud_token_prd" "papanito" }}
export HLCOUD=$HCLOUD_DEV
{{ end }}
