{{ if eq .chezmoi.os "windows"}}
{{ if eq .chezmoi.hostname "work" }}
$SERVICES={{ .keyring_tokens_work | quote }}
{{ else }}
$SERVICES={{ .keyring_tokens_private | quote }}
{{ end }}
echo "Populate keyring..."
foreach ($service in $SERVICES.split(" ")) {
    echo "Checking $service ..."
    $result = &chezmoi secret keyring get --service $service --user=papanito 2>&1
    if ($result.ToString().Contains("found")) {
        echo "Value for '$service' in keyring missing"
        chezmoi secret keyring set --service $service --user=papanito
    }
}
{{ end }}