#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
SERVICES=""
{{ if eq .chezmoi.hostname "work" }}
SERVICES="{{ .keyring_tokens_work }}"
{{ else if eq .chezmoi.hostname "clawfinger" }}
SERVICES="{{ .keyring_tokens_private }}"
{{ end }}
echo "Populate keyring..."
for service in $SERVICES; do
    echo "Checking $service ..."
    chezmoi secret keyring get --service $service --user=papanito >/dev/null
    if [[ $? -ne 0 ]]; then
        echo "Value for '$service' in keyring missing"
        chezmoi secret keyring set --service $service --user=papanito
    fi
done
{{ end }}